# Dependencies
node_modules/

# Coverage reports
coverage/
doc-coverage/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store

# Editor/Tooling
.vscode/
.idea/

# Husky internals
.husky/_/
